# 1. Ignore everything in the repository
*
# 2. DO NOT ignore the .gitignore file itself (optional, but good practice)
!.gitignore
!*/
# 3. Un-ignore specific Python files you want to track.
!*/*.ipynb
!**/*.py
!**/*.ipynb

.venv/
venv/
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.ipynb_checkpoints/